---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À-propos | Maxime Lefranc" description="En savoir plus sur moi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À-propos"
				tagline="Merci de vous arrêtez ici. Plus d'informations sur moi juste en dessous 👇"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Screen with devlopment code behind a mug of coffee"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
          <p>Développeur Full-Stack ... Mais avant tout... Développeur Full-Motivé.</p>
					<p>
						Arrivé au bout de mes possibilités d’évolution dans mon ancien métier, il était temps pour moi de me lancer dans une reconversion professionnelle dans un milieu qui me passionne depuis toujours, le développement web.
					</p>
					<p>
						Après avoir suivi un formation intensive de développeur full-stack avec une spécialisation en React, je suis apte à affronter les nouveaux défis qui me seront proposés.
            Rigueur, dynamisme, perfectionnisme et soif d’apprendre me caractérisent.
					</p>
          <p>
						Passionné par mon métier, je suis toujours à l'affût des nouvelles technologies ou des nouvelles façons de travailler. Comme tout passioné, je veux apprendre de nouvelle chose tout les jours. 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Éducation</h2>
				<div class="content">
					<p>Titre Proféssionnel Déceloppeur Web / Web Mobile (niveau V)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Hard-Skills</h2>
				<div class="content">
					<p>HTML - CSS - SASS - React - React Native - Next.js - TypeScript - Symfony - Git & Git-Hub</p>
				</div>
			</section>
      <section>
				<h2 class="section-title">Soft-Skills</h2>
				<div class="content">
					<p>Communication - Travail en équipe - Sens du détail - Esprit logique et analytique - Créatif - Organisé - Bonne gestion du temps - Rigoureux</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
